<h1 class="title">Sistema para Consulta Detalhada do Moodle</h1>
<p><b>Informações Importantes</b>, antes de utilizar o sistema leia antentamente.</p>

<ul>
  <li>Ao utilizar os e-mails dos alunos, somente envie e-mail através da opção CCO ou BCC, para que os e-mails não sejam utilizados por terceiros para outros fins.</li>
  <li>Não deixando os e-mails dos alunos visíveis, diminuirá futuros spams que poderiam ocorrer se utilizado a opção "Para" ou "To".</li>
  <li>Se mesmo assim estiver com dúvida, consulte a TI para esclarecimentos.</li>
  <li>Quando tiver certeza do conteúdo e das opções acima cumpridas, poderá enviar o e-mail tranquilamente.</li>
</ul>
